/* USER VARIABLES SECTION */

:root {
	/* 						==Media== 						*/
	--minVH: 320;
	--containerVH: 1050;
	--minWidth: 320px;
	--maxWidth: 1600px;
	--maxWidthContainer: 1050px;
	--md1: var(--maxWidthContainer) + 15px;
	--md2: 991.98px;
	--md3: 767.98px;
	--md4: 479.98px;
	/* ---------------------------------------------*/
	/* 						==Color== 						*/
	--color1: #4452fe;
	--color2: ;
	/* ---------------------------------------------*/
	/* 						==Text== 						*/
	--mainColorText: #fff;
	--regular-text: 16px;
	--lineheight: 1.5;
	/* ---------------------------------------------*/
	/* 						==Fonts== 						*/
	--userfont: "Graphik";
	--systemfont: ;
	/* ---------------------------------------------*/
}
/* ==================================================================== */

/* FONTS LOAD SECTION */

@font-face {
	src: url("../fonts/Graphik-Medium.woff2") format("woff2");
	font-family: "Graphik";
	font-weight: 500;
	font-style: normal;
}
@font-face {
	src: url("../fonts/Graphik-Regular.woff2") format("woff2");
	font-family: "Graphik";
	font-weight: 400;
	font-style: normal;
}

/* ==================================================================== */

/* GENERAL CSS SETTINGS */

::placeholder {
	color: #666;
}
::selection {
	color: #fff;
}
input:focus:required:invalid,
textarea:focus:required:invalid {
	border-color: red;
}
input:required:valid,
textarea:required:valid {
	border-color: green;
}

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--mainColorText);
	background: #000;
	height: 100%;
	height: 500px;
}
body._lock {
	overflow: hidden;
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.page {
	flex: 1 1 auto;
}
[class*="__container"] {
	max-width: var(--maxWidthContainer);
	padding: 0 15px; /* При добавлении отступов нужно добавить 30px к контейнеру */
	margin: 0 auto;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* ==================================================================== */

/* USER STYLES */

/* ===== Header ===== */
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	min-height: 40px;
}
.header__container {
}
.header__body {
	display: flex;
	justify-content: space-between;
	/* min-height: 120px; */
	align-items: center;
	padding: 40px 0px;
	z-index: 5;
	position: relative;
}
.header__logo {
	z-index: 5;
}
.menu {
	flex: 0 1 400px;
}
.menu__icon {
}
.icon-menu {
	display: none;
	transition: width 0.3s ease 0s;
}
.menu__body {
}
.menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 0px 5px;
	padding: 5px 0;
	position: relative;
}
.menu__item {
}
.menu__link {
	font-weight: 500;
	color: inherit;
	transition: color 0.3s ease 0s;
}
.header__button {
	display: flex;
}
.btn_black {
}
.button-header {
	display: flex;
	font-size: 17px;
	padding: 14px 24px;
	z-index: 5;
	flex: 0 1 140px;
	justify-content: center;
}
.btn {
	width: 140px;
	height: 52px;
	border: 1px solid #fff;
	color: inherit;
	transition: all 0.3s ease 0s;
}

/* ===== Footer ===== */

.footer__column {
	position: relative;
}
.footer__title {
	margin: 0px 0px 40px 0px;
	cursor: text;
}
.footer-title {
	font-weight: 500;
	font-size: 20px;
	color: inherit;
}
.footer__list {
}
.footer__link {
	color: inherit;
}
.footer__list li {
	transition: color 0.3s ease 0s;
	cursor: pointer;
}
.footer__list li:not(:last-child) {
	margin: 0px 0px 20px 0px;
}
.footer__location {
	color: inherit;
	font-weight: 500;
	margin-bottom: 20px;
}
.footer__location span {
	font-size: 20px;
	margin-right: 10px;
}
.footer__phone {
	font-weight: 500;
	margin-bottom: 30px;
}
.footer__phone span {
	font-size: 20px;
	margin-right: 10px;
}
.footer__social {
	font-size: 30px;
}
.footer__social span:not(:last-child) {
	margin-right: 20px;
}
.footer__info-link {
	color: inherit;
	transition: color 0.3s ease 0s;
}
.page {
	height: 200px;
}
