/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width: 1400px) {
	[class*="__container"] {
	}
}

/* lg <= Extra large (xl) */
@media (max-width: 1070px) {
	[class*="__container"] {
	}
	.features__image {
		text-align: center;
	}
	.contents__body {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
		margin: 0px;
	}
	.block {
		width: 700px;
		height: 550px;
	}
	.gallery__row-2 {
		margin: 0px;
	}
}

/* md <= Large (--md2) */
@media (max-width: 991.98px) {
	[class*="__container"] {
	}
	.button-header {
		font-size: 16px;
		/* padding: 14px 26px; */
		width: 120px;
	}
	.features__image img {
		width: 600px;
		height: 580px;
	}
	.main-title {
		font-size: 40px;
	}
	.main-text {
		padding-right: 140px;
		padding-left: 140px;
	}
	.boards__body::after {
		height: 500px;
	}
}

/* sm <= Medium (--md3) */
@media (max-width: 767.98px) {
	[class*="__container"] {
	}
	.button-header {
		font-size: 16px;
		padding: 10px 24px;
		height: 45px;
		margin: 0px 60px 0px 0px;
	}
	.icon-menu {
		display: block;
		display: block;
		position: absolute;
		top: 40px;
		right: 0;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		transform: rotate(180deg);
	}
	.icon-menu span {
		transition: all 0.3s ease 0s;
		top: calc(50% - 1px);
		left: 0;
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: #fff;
	}
	.icon-menu span:first-child {
		top: 0px;
		width: 40%;
	}
	.icon-menu span:nth-child(2) {
		width: 70%;
	}
	.icon-menu span:last-child {
		top: auto;
		bottom: 0px;
	}
	.icon-menu._active span:first-child {
		width: 100%;
	}
	.icon-menu._active span:nth-child(2) {
		width: 70%;
	}
	.icon-menu._active span:last-child {
		width: 40%;
	}
	.header__body {
		padding: 20px 0;
	}
	.menu__body {
		position: fixed;
		overflow: auto;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #181818;
		padding: 110px 15px 30px 15px;
		transition: left 0.3s ease 0s;
		z-index: 1;
	}
	.menu__body._active {
		left: 0;
	}
	.menu__list {
		display: flex;
		flex-direction: column;
	}
	.menu__item {
		font-size: 24px;
		padding: 5px;
	}
	.menu__item:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
	.header__body::before {
		content: "";
		background: #181818;
		width: 100%;
		left: 0;
		height: 98px;
		position: absolute;
		z-index: 2;
	}
	.footer__title {
		margin-bottom: 20px;
	}
	.footer__list {
		/* position: relative; */
		transition: all 0.4s ease 0s;
		will-change: max-height;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		padding: 6px 15px;
		opacity: 0;
		margin: 0px -15px;
	}
	.footer__column {
		margin-bottom: 10px;
	}
	.footer__column._active .footer__list {
		opacity: 1;
	}
	.footer__title::after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		border: solid #fff;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 6px;
		transform: rotate(45deg);
		transition: transform 0.3s ease 0s;
		-webkit-transform: rotate(45deg);
	}
	._accordion._active .footer__title::after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}
	.footer__info {
		margin-top: 40px;
	}
	.footer__body {
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.work {
		margin-top: 150px;
	}
	.work__title {
		font-size: 50px;
	}
	.work__text {
		font-size: 18px;
		margin-top: 20px;
		padding-right: 40px;
		padding-left: 40px;
	}
	.work__buttons {
		margin-top: 70px;
	}
	.boards__img {
		width: 1000px;
		height: 600px;
	}
	.features__image img {
		width: 450px;
		height: 430px;
	}
	.main-title {
		font-size: 35px;
	}
	.main-text {
		padding-right: 70px;
		padding-left: 70px;
	}
	.features__header {
		margin-bottom: 50px;
	}
	.row:not(:last-child) {
		margin-bottom: 50px;
	}
	.boards__body::after {
		height: 300px;
	}
	.contents__text {
		font-size: 16px;
	}
	.block {
		width: 436px;
		height: 524px;
	}
	.block__image {
		width: 350px;
		height: 200px;
	}
	.image_fix {
		height: 250px;
	}
	.block__text {
		padding: 0 35px;
	}
	.contents {
		margin-top: 100px;
	}
	.gallery__button {
		display: none;
		visibility: hidden;
	}
	.button {
		display: none;
		visibility: hidden;
	}
	.gallery__row {
		display: block;
	}
	.gallery__image._ibg img {
		position: static;
		width: 100%;
		height: 100%;
	}
	.gallery__image {
		/* width: 225px;
		height: 285px; */
	}
}

/* xs <= Small (--md4) */
@media (max-width: 479.98px) {
	[class*="__container"] {
	}
	.work__title {
		font-size: 40px;
	}
	.work__text {
		font-size: 16px;
		margin-top: 25px;
		padding-right: 20px;
		padding-left: 20px;
	}
	.work__buttons {
		margin-top: 40px;
	}
	.work__button {
		flex: 0 1 150px;
		height: 50px;
	}
	.boards__img {
		width: 600px;
		height: 300px;
	}
	.features__image img {
		width: 300px;
		height: 280px;
	}
	.main-text {
		padding-right: 20px;
		padding-left: 20px;
	}
	.boards__body::after {
		height: 200px;
	}
	.block {
		width: 300px;
		height: 424px;
	}
	.block__image {
		width: 260px;
		height: 140px;
	}
	.image_fix {
		height: 160px;
	}
	.block__text {
		padding: 0;
	}
	.block__button {
		width: 140px;
		font-size: 16px;
	}
	.contents__body {
		gap: 30px;
	}
}
@media (max-width: 400px) {
	[class*="__container"] {
	}
	.button-header {
		width: 80px;
		font-size: 16px;
		padding: 8px 20px;
		height: 40px;
	}
}

/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width: 0) {
	[class*="__container"] {
	}
}

/* Small (sm) */
@media (min-width: 576px) {
	[class*="__container"] {
	}
}

/* Medium (--md3) */
@media (min-width: 768px) {
	[class*="__container"] {
	}
	.footer__body {
		display: flex;
		justify-content: space-between;
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.footer__item {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.footer__column {
		margin-right: 55px;
	}
	.gallery__row {
		display: grid;
		gap: 33px;
		/* grid-template-columns: repeat(4, 1fr); */
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		padding: 0 5px;
		margin-bottom: 45px;
	}
	.gallery__row-2 {
		display: grid;
		gap: 33px;
		grid-template-columns: minmax(220px, 1fr) minmax(150px, 225px) minmax(220px, 1fr);
	}
	.gallery__image:nth-child(5) {
		display: none;
	}
	.gallery__image:nth-child(6) {
		display: none;
	}
	.gallery__image:nth-child(7) {
		display: none;
	}
}

/* Large (--md2) */
@media (min-width: 992px) {
	[class*="__container"] {
	}
	.footer__column {
		margin-right: 75px;
	}
}

/* Extra large (xl) */
@media (min-width: 1050px) {
	[class*="__container"] {
	}
	.features__body {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

/* Extra extra large (xxl) */
@media (min-width: 1400px) {
	[class*="__container"] {
	}
}

/* === SPECIAL === */

/* For mouse devices */
@media (any-hover: hover) {
	.menu__link:hover {
		color: var(--color1);
	}
	.btn_black:hover {
		color: var(--color1);
		border: 1px solid var(--color1);
		box-shadow: 0 0 5px var(--color1);
	}
	.footer__info-link:hover {
		color: var(--color1);
	}
	.footer__list li:hover {
		color: var(--color1);
	}
	.wave-btn:hover {
		transition: all 0.8s ease 0.2s;
		box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
	}
	.row__title:hover {
		color: #02e4c0;
	}
	.block__button:hover {
		background: #2e3ffb;
		width: 170px;
		/* transform: scale(1.005); */
	}
	.btn_long:hover {
		width: 200px;
	}
}
